$fonts: 'Source Sans Pro', Open Sans, Helvetica, Arial, sans-serif;
$radius: 6px;
$button-radius: 50px;

$shadow: 0px 20px 30px rgba(56,59,83,.1);
$shadow-light: 0px 15px 30px rgba(146,175,215,.4);
$shadow-bright: 0px 10px 30px rgba(255,106,207,.3);
$xs: 10px;
$sm: 20px;
$md: 50px;
$lg: 100px;
$xl: 160px;


$primary: #383b53;
$secondary: #92afd7;
$bright:#ff6acf;
$light-grey: #f7f5f7;
$dark: #04080f;
$grey: #eeeeee;
$white: #ffffff;

* { padding: 0; margin: 0; }

.primary-color{color:$primary;}
.primary-bg{background: $primary;}
.secondary{color:$secondary;}
.secondary-bg{background: $secondary;}
.light-grey-color{color:$light-grey;}
.light-grey-bg{background:$light-grey;}
.grey-color{color:$grey;}
.grey-bg{background:$grey;}
.bright-color{color:$bright;}
.bright-bg{background:$bright;}
.dark-color{color:$dark;}
.dark-bg{background:$dark;}
.white-color{color:#fff;}
.white-bg{background:#fff;}

/* fonts */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800);
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Source+Sans+Pro:400,400i,700');
/* import grid */

@import "flexboxgrid";
@import "../slick/slick";
@import "../slick/slick-theme";

.center {
    justify-content: center !important;}



@mixin border-radius {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;}
@mixin button-radius {
  -webkit-border-radius: $button-radius;
     -moz-border-radius: $button-radius;
      -ms-border-radius: $button-radius;
          border-radius: $button-radius;}
@mixin shadow {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;}
@mixin shadow-light {
  -webkit-box-shadow: $shadow-light;
     -moz-box-shadow: $shadow-light;
      -ms-box-shadow: $shadow-light;
          box-shadow: $shadow-light;}
@mixin shadow-bright {
  -webkit-box-shadow: $shadow-bright;
     -moz-box-shadow: $shadow-bright;
      -ms-box-shadow: $shadow-bright;
          box-shadow: $shadow-bright;}
@mixin circle {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;}
@mixin transition {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;}
@mixin slow-transition {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;}
@mixin fast-transition {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;}
@mixin scale-zero {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);}
@mixin scale-full {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);}
@mixin delay {
    -webkit-transition-delay: 2s;
    transition-delay: 2s;}
@mixin undersized {
    -webkit-transform: scale(0.8) translate(-30%, -30%);
    -ms-transform: scale(0.8) translate(-30%, -30%);
    transform: scale(0.8) translate(-30%, -30%);}
@mixin oversized {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);}
@mixin oversized-right {
    -ms-transform: translateX(40%) translateY(10%) scale(1.75); 
    -webkit-transform: translateX(40%) translateY(10%) scale(1.75); 
    transform: translateX(40%) translateY(10%) scale(1.75);}
@mixin oversized-left {
    -ms-transform: rotate(-10deg) scale(1.2); 
    -webkit-transform: rotate(-10deg) scale(1.2); 
    transform: rotate(-10deg) scale(1.2);}
@mixin rise {
    position:relative;
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);}
@mixin opacity{
    opacity: .6;}
body {
    font: 100% $fonts;
    font-weight: 400;
    font-size: 1.08em;
    line-height: 1.4em;
    color: $primary;
    background: #fff;
    margin:0;
	padding:0;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;}

.footer{
    background: $dark;
    color: $secondary;
    position: relative;
    z-index: 1;
    a{
       color: $bright;}
    img{
    @include opacity;
    @include transition;}
    img:hover{
    opacity: 1;
    @include transition;}
}


.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;}
.bg-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;}
.bg-image-right {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;}
.bg-image-left {
    background-repeat: no-repeat;
    background-position: -5%; 
    background-size: contain;
    max-width: 55%;}
.bg-contain-center {
    background-repeat: no-repeat;
    background-position: bottom center; 
    background-size: contain;}

/* navigation */
.nav {
    @include transition;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background:  rgba($white,0);
    
    a{
        @include transition;
        color: $white;
        padding: 0;
        background: rgba(#ffffff, 0);}
    a:hover{
        @include transition;
        color: $primary !important;
        padding: 5px 10px;
        @include border-radius;
        background: rgba(#ffffff, 1);}
}
.nav-link {
    padding: 8px 20px;
    margin: auto;
    text-transform: capitalize;
}
.scrolled {
    @include transition;
    background: rgba($white,.95);
    box-shadow: 0px 2px 25px rgba(4, 8, 15, 0.05);
    a{
        @include transition;
        color: $secondary !important;}
    a:hover{
        @include transition;
        color: $bright !important;}
}

/* text and headers */
h2, h3 {
  color: $primary;
  margin: 1.3 0 0.5em;
    line-height: 1.15em;
  font-family: 'Permanent Marker';
  width: 100%;}
h4, h5, h6, {
  color: $primary;
  margin: 1.3 0 0.5em;
    line-height: 1.15em;
  font-weight:700;
  width: 100%;}
h1 {
  font-size: 4.7em;
    line-height: 1em;
  font-family: 'Permanent Marker';}
h2 {
  font-size: 2.5em;
    font-weight: 200;}
h3 {
  font-size: 1.414em/*1.999em*/;
  font-weight: 800;
  text-transform: uppercase;}
h4 {
  font-size: 1.414em;
  font-weight: 600;}
h5 {
  font-size: 1em;
  font-weight: 600;}
.sm-text {
  font-size: 0.8em !important;}
.xl-text {
    font-size: 6em !important;}
.centered-text {
    text-align: center;}
.right-text{
    text-align: right;}
.uppercase{
    text-transform: uppercase;}
.italic{
    font-style: italic;}
a {
    @include transition;
    color: $primary;
    font-weight: 600;
    font-size: inherit;
    text-decoration: none;}
a:hover {
    @include slow-transition;
    color: $dark !important;}


a.tile:hover{
    @include rise;
    @include transition;
}
#skills {
    p{
        display: inline-block !important;
        padding: 2px 15px;
        margin: 4px;
        background: $light-grey;
        border-radius: 20px;}
    p.highlight {
        background: $secondary;
        color: $white;
    }       
}
#timeline{
    img {
        position: relative;
        top: 0px;
        right: 55px;
    }
    h5 {
        margin-top: -15px;
    }
}



/* inputs and buttons */
input, textarea {
    background: $dark;
    color: #fff;
    font-size: 1.6em;
    line-height: 1.9em;
    border: none;
    text-indent: 5px;
    font: inherit;
    padding: 10px 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: $secondary;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $secondary;
}
:focus {
    outline: -webkit-focus-ring-color auto;
    outline-color: $bright;
    outline-offset: -2px;
    box-sizing: border-box;
}
/*button text*/
.button-text {
    padding: 5px;
    position:relative;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: $bright !important;
    
    img {
        @include transition;
        position: relative;
        display: inline-block;
        top: 5px;
        padding-left: 0px;}
}
.button-text:hover{  
    color: $bright !important;
    
    img {
        @include transition;
        padding-left: 5px;}
}

/*button white*/
.button-white {
    @include slow-transition;
    @include button-radius;
    @include shadow-light;
    background: $white;
    padding: 15px 50px;
    position:relative;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: $secondary !important;
}
.button-white:hover{
    @include slow-transition;
    @include shadow;
    @include rise;
    color: $primary !important;}

/*button outline*/
.button-outline {
    @include slow-transition;
    @include button-radius;
    @include shadow-light;
    background: rgba($white, 0);
    border: 1px solid $white;
    padding: 15px 50px;
    position:relative;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: $white !important;
}
.button-outline:hover{
    @include slow-transition;
    @include shadow;
    @include rise;
    background: rgba($white, 1);
    color: $primary !important;}

/*button dark*/
.button-secondary {
    @include slow-transition;
    @include button-radius;
    background: $secondary;
    padding: 15px 50px;
    position:relative;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #fff !important;
}
.button-secondary:hover{
    @include shadow-light;
    @include slow-transition;
    @include rise;}

/*button */
.button {
    @include slow-transition;
    @include button-radius;
    padding: 15px 50px;
    position:relative;
    border: none;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #fff !important;
}
.button:hover{
    @include shadow;
    @include slow-transition;
    @include rise;
    }

/* items and misc styles */
.card {
    @include border-radius;
    background: #fff;
}
.more {
    @include transition;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #fff !important;
    background: $primary;
}
.box:hover .more {
    @include transition;
    opacity: 1;
    
}
.absolute{
    display: block;
    position: absolute;
    z-index: 2;
}
.relative {
    position: relative;
}
.no-overflow {
    overflow: hidden;
}

.rise{
    @include transition;}
.rise:hover  {
    @include rise;
    @include transition;}
i.sm-icon {
    font-size: 22px !important;}
i.material-icons {
    font-size: 36px !important;
    display: inline-block !important;}
.opacity{
    @include opacity;}
.bottom-border {
    border-bottom: solid 1px rgba(0,0,0,.15);}
.border-left {
    border-left: solid 1px $grey;}
.border-right {
    border-right: solid 1px $grey;}
.inline {
    display: inline-block !important;}
.circle {
    @include circle;}
.shadow{
    @include shadow;}
.shadow-light{
    @include shadow-light;}
.opacity{
    @include opacity;}
.border-radius {
    @include border-radius;}

/* heros */
.sm-hero{
    height: 60vh;
    margin: auto;
    }
.md-hero{
    height: 80vh;
    margin: auto;
    }
.lg-hero{
    height: 95vh;
    margin: auto;
    }
.sm-hero, .md-hero, .lg-hero{
    min-height: 400px;
}
.tinted {
    background: rgba($primary, 0.2);
}
/* sections */
.sm-section{
  padding-top: 100px;
  padding-bottom: 100px;}
.md-section{
  padding-top: 180px;
  padding-bottom: 180px;}
.lg-section{
  padding-top: 240px;
  padding-bottom: 240px;}

/* padding and margins */
.vertical-align {
	margin: auto 0;}
.center-align {
	margin: auto;}
.right-align {
	align-content: flex-end;
    text-align: right;}
.no-padding{padding: 0 !important;}
.no-margin{margin: 0 !important;}
.no-bottom-padding {padding-bottom: 0 !important;}

.xs-padding{
    padding: $xs; }
.xs-top-padding{
    padding-top: $xs;}
.xs-right-padding{
    padding-right: $xs;}
.xs-bottom-padding{
    padding-bottom: $xs;}
.xs-left-padding{
    padding-left: $xs;}

.sm-padding{
    padding: $sm; }
.sm-top-padding{
    padding-top: $sm;}
.sm-right-padding{
    padding-right: $sm;}
.sm-bottom-padding{
    padding-bottom: $sm;}
.sm-left-padding{
    padding-left: $sm;}

.md-padding{
    padding: $md; }
.md-top-padding{
    padding-top: $md;}
.md-right-padding{
    padding-right: $md;}
.md-bottom-padding{
    padding-bottom: $md;}
.md-left-padding{
    padding-left: $md;}

.lg-padding{
    padding: $lg; }
.lg-top-padding{
    padding-top: $lg;}
.lg-right-padding{
    padding-right: $lg;}
.lg-bottom-padding{
    padding-bottom: $lg;}
.lg-left-padding{
    padding-left: $lg;}

.xl-padding{
    padding: $xl; }
.xl-top-padding{
    padding-top: $xl;}
.xl-right-padding{
    padding-right: $xl;}
.xl-bottom-padding{
    padding-bottom: $xl;}
.xl-left-padding{
    padding-left: $xl;}

/* margin lips */
.lip-top{
    position: relative;
    top: -200px !important;}
.lip-bottom{
    position: relative;
    top: 100px !important;}

/* img sizes */
.icon-10 {
    width: 10px;
    height: 10px;}
.icon-20 {
    width: 20px;
    height: 20px;}
.icon-40 {
    width: 40px;
    height: 40px;}
.icon-50 {
    width: 50px;
    height: 50px;}
.icon-60 {
    width: 60px;
    height: 60px;}
.icon-80 {
    width: 80px;
    height: 80px;}
.icon-100 {
    width: 100px;
    height: 100px;}
.icon-120 {
    width: 120px;
    height: 120px;}
.icon-140 {
    width: 140px;
    height: 140px;}
.icon-160 {
    width: 160px;
    height: 160px;}
.icon-180 {
    width: 180px;
    height: 180px;}
.icon-200 {
    width: 200px;
    height: 200px;}
#logo{
    max-width: 600px;
    margin: auto;
}

/* sizes + transformations */
.sm-max-width{
    width: 86%;
    max-width:700px;
    margin: 0 auto;}
.max-width{
    width: 96%;
    max-width:1100px;
    margin: auto;}
.half-width {
	width: 50%;
	margin: 0 auto;	}
.three-quarter-width {
	width: 75%;
	margin:0 auto;	}
.full-width{
	width: 100%;}
.full-height{
    height:100%;}
.undersized{
    @include undersized;}
.oversized{
    @include oversized;}
.oversized-right{
    @include oversized-right;}

@media only screen and (max-width: 466px) {
    h1 {
        font-size: 3.7em;}
}
@media only screen and (max-width: 1024px) {
    .oversized {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);}
    .oversized-right {
        -ms-transform: translateX(20%) translateY(10%) scale(1.4);
        -webkit-transform: translateX(20%) translateY(10%) scale(1.4);
        transform: translateX(20%) translateY(10%) scale(1.4);}
    .bg-image-right {
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 90%;}
    .bg-image-left {
        background-repeat: no-repeat;
        background-position: 0 bottom; 
        background-size: contain;}
    .lg-padding{
        padding: calc(#{$lg} * 0.7);}
    .lg-top-padding{
        padding-top: calc(#{$lg} * 0.7);}
    .lg-right-padding{
        padding-right: calc(#{$lg} * 0.7);}
    .lg-bottom-padding{
        padding-bottom: calc(#{$lg} * 0.7);}
    .lg-left-padding{
        padding-left: calc(#{$lg} * 0.7);}

    .xl-padding{
        padding: calc(#{$xl} * 0.7);}
    .xl-top-padding{
        padding-top: calc(#{$xl} * 0.7);}
    .xl-right-padding{
        padding-right: calc(#{$xl} * 0.7);}
    .xl-bottom-padding{
        padding-bottom: calc(#{$xl} * 0.7);}
    .xl-left-padding{
        padding-left: calc(#{$xl} * 0.7);}
    .bg-hero {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll !important;
        z-index: 0;}
}
